body {
	font-family: helvetica, arial, sans-serif;
	font-size: 100%;
	color: black;
	background-color: white;
}
header, section, aside, nav, figure, article, main, footer {
	display: block;
}
* {
    margin: 0;
    padding: 0;
}
a[target] {
    background: lightblue;
}
a[target="_blank"] {
    background: red;
}
[title~=purple] {
    border: 5px solid purple;
}
p:nth-child(even) {
	color: blue;
}
p:last-child {
	color: red;
}