body {
	background-color: white;
	color: black;
	font-size: 100%;
	font-family: helvetica, arial, sans-serif;
}
.dottedBorder {
	border: 4px dotted;
}
.redBorder {
	border: 10px double red;
}
.blueBorder {
	border-top: 20px dashed blue;
}
.rightBorder {
	background-color: lightgrey;
	border-right: 100px solid green;
	padding: 5px;
}