table {
    width: 100%;
}

.op20 {
}

.op50 {
}

img.h1 {
}

img.h1:hover {
}

div {
    background-color: #4CAF50;
    padding: 10px;
}

div.first {
}

div.second {
}

div.third {
}

div.rgba1 {
}

div.rgba2 {
}

div.rgba3 {
}