/* Do NOT change this code */

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    color: black;    
}

#mainContent, #sidebar {
    padding: 10px;
    margin: 20px;
    float: left;
}
#mainContent {
    max-width: 60%;
    min-width: 30%;
}
#sidebar {
    width: 275px;
    height: 470px;
}

.center {
    text-align: center;
}

/* Add your code below */

#mainContent {
    background-color: DarkSeaGreen;
    
}
#sidebar {
    background-color: rebeccapurple;
}