body {
	font-family: geneva, tahoma, sans-serif;
	font-size: 100%;
	color: black;
	background-color: white;
	margin: 0;
}
header, section, aside, nav, figure, article, main, footer {
	display: block;
}
main {
    padding: 25px;
}
nav {
	background: #369;
}
nav ul {
    list-style-type: none;
    width: 100%;
	margin: 0 auto;
	width: 460px;
	padding: 16px;
}
nav li {
    text-align: center;
	display: inline-block;
}
nav li a {
    display: block;
    background: #036;
	color: white;
    text-decoration: none;
	text-align: left;
	padding: 30px;
	border: 1px solid #036;
}
li a:hover {
    background: #369;
    color: white;
	border: 1px solid #036;
}