body {
	font-size: 100%;
	font-family: arial, geneva, sans-serif;
	background: white;
}
table, th, td {
	border: 1px solid red;
	border-collapse: collapse;
	padding: 5px;
	font-weight: normal;
	text-align: left;
}
tbody tr:nth-child(odd) {
	background: #60C4DE;
}
.center {
	text-align: center;
}