body {
	font-family: arial, geneva, sans-serif;
	font-size: 100%;
	background: white;
	color: navy;
}
table {
	width: 50%;
	border-collapse: collapse;
}
thead {
	background: #CCCCFF;
	border-bottom: 2px solid navy;
}
th, td {
	padding: 10px;
	text-align: left;
}
td {
	border-bottom: 1px solid grey;
}
tr:hover {
	background: #CCCCFF;
}