body {
    font-family: helvetica, geneva, sans-serif;
    font-size: 100%;
    background: white;
    color: black;
}
table, th, td {
    border: 1px solid #111;
    border-collapse: collapse;
    padding: 15px 10px;
}
table {
    width: 500px;
    background: #D10034;
    color: white;
}
th {
    font-size: 200%;
    background: black;
}
.movieName{
    font-size: 150%;
    font-variant: small-caps;
    margin: 15px;
    text-align: center;
    padding: 0px;
}
dt {
    font-size: 125%;
    font-variant: small-caps;
    font-style: italic;
}

